@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");


.dragAndDrop {
    margin: 0;
    background: url("../../images/trees.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
    color: white;
    font-family: Quicksand, sans-serif;
    overflow-y: hidden;
    height: 100vh;
}

.dragAndDrop__main-title {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 3rem;
}

.dragAndDrop__drag-container {
    margin: 20px;
}

.drag-container__drag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.drag-list__drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow-x: hidden;
}

.drag-column__backlog-header-container {
    background-color: #a2622d;
}

.drag-column__progress-header-container {
    background-color: #1b6161;
}

.drag-column__complete-header-container {
    background-color: #248224;
}

.drag-column__onHold-header-container {
    background-color: #a22d22;
}

.drag-column__header {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
}


.drag-column__custom-scroll {
    overflow-y: auto;
    max-height: 52vh;
}

.drag-column__custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
}

.drag-column__custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.drag-column__custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
}

.drag-column__header-container {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

.drag-column__header {
    font-size: 1.25rem;
}

.drag-column__drag-item-list {
    min-height: 50px;
}

.drag-item {
    margin: 10px;
    padding: 10px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.drag-item:focus {
    outline: none;
    background-color: white;
    color: black;
}

.drag-column__btn-group {
    display: flex;
    justify-content: space-between;
}

.drag-column__add-btn {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    user-select: none;
}

.drag-column__add-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.drag-column__add-btn:active {
    transform: scale(0.97);
}

.drag-column__plus-sign {
    font-size: 1.5rem;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.drag-column__add-container {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100px;
}

.add-container__add-item {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 5px auto;
    resize: none;
    color: black;
    padding: 10px;
}

.add-container__add-item:hover {
    outline: none;
}

.drag-column__add-btn_solid_backlog {
    background-color: #a2622d;
}

.drag-column__add-btn_solid_backlog:hover {
    background-color: #a2622d;
}

.drag-column__add-btn_solid_progress {
    background-color: #1b6161;
}

.drag-column__add-btn_solid_progress:hover {
    background-color: #1b6161;
}

.drag-column__add-btn_solid_complete {
    background-color: #248224;
}

.drag-column__add-btn_solid_complete:hover {
    background-color: #248224;
}

.drag-column__add-btn_solid_onHold {
    background-color: #a22d22;
}

.drag-column__add-btn_solid_onHold:hover {
    background-color: #a22d22;
}

.drag-column__add-btn_solid:hover {
    transition: unset;
    filter: brightness(95%);
    color: white;
}

.delete-button {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5px;
}

.drag-item:hover .delete-button {
    display: inline-block;
}

.backlog-column {
    background-color: rgba(162, 98, 45, 0.9);
}

.progress-column {
    background-color: rgba(27, 97, 97, 0.9);
}

.complete-column {
    background-color: rgba(36, 130, 36, 0.9);
}

.onHold-column {
    background-color: rgba(162, 45, 34, 0.9);
}