/* Confetti.css */
.confetti-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f00; /* Default color (will be overridden) */
    border-radius: 50%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  
  .confetti-container.active {
    z-index: 2; /* Bring the confetti to the front when active */
  }
  